.overlay-buttons {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  color: white;
  height: 185px;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
}

.add-btn-item {
  color: var(--todo-blue);
}

.delete-btn-item {
  color: red;
}

@media only screen and (max-width: 600px) {
  .add-input {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 600px) {
  .add-input {
    margin-left: 235px;
  }

  .overlay-buttons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 185px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
  }
}