@import "../../../styles.scss";

.todo-text {
  margin-left: 35px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  outline: 2px solid var(--todo-blue);
}


.todo-text-completed {
  color: $completedTodoText;
}

.container:hover input~.checkmark {
  background-color: transparent;
}

.container input:checked~.checkmark {
  content: "";
  background-color: transparent;
}

.checkmark:after {
  color: var(--todo-blue);
  top: 0px;
  right: 13px;
  content: "✔";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}
