@import '../../../../styles.scss';
.todo-info-group {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {

  .todo-item-container {
    min-width: 640px;
    min-height: 56px;
    box-shadow: 0px 8px 16px 0px #0b476f1f;
    background: #f5fbfe;
    padding: 16px 0px 0px 16px;
    border-radius: 16px;
    opacity: 0px;
  }
  .todo-item-container-completed {
    min-width: 640px;
    min-height: 56px;
    box-shadow: 0px 8px 16px 0px #0b476f1f;
    background: transparent;
    padding: 16px 0px 0px 16px;
    border-radius: 16px;
    opacity: 0px;
  }

  .todo-text {

    color: $todoFontcolor;
    font-family: $globalFontFamily;
    font-size: $todoFontSize;
    font-weight: $todoFontWeight;
    line-height: $todoFontHeight;
    text-align: left;
  }

  .create-btn-item {
    background-color: var(--todo-blue);
    /* Green */
    border: none;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 400;
    line-height: 24px;
  }
  .second-level {
    padding-left: 20px;
    }
    
    .third-level {
    padding-left: 40px;
  }
  .edit-btn-item {
    color: var(--todo-blue);
  }
  .expand-button-container{
    width: 235px;
    height: 0px;
    align-content: end;
    color: var(--todo-blue)
  }

  .expand-btn-item{
    color: var(--todo-blue);
    left: 605px;
    bottom: 25px;
  }

}

@media only screen and (max-width: 600px) {

  .todo-item-container {
    max-width: 332px;
    min-height: 80px;
    box-shadow: 0px 8px 16px 0px #0b476f1f;
    background: #f5fbfe;
    padding: 16px;
    border-radius: 16px;
    opacity: 0px;
  }

  .todo-item-container-completed {
    max-width: 332px;
    min-height: 80px;
    box-shadow: 0px 8px 16px 0px #0b476f1f;
    background: transparent;
    padding: 16px;
    border-radius: 16px;
    opacity: 0px;
    border: 1px solid #FFFFFF;
  }

  .todo-text {
    display: flex;
    color: $todoFontcolor;
    font-family: $globalFontFamily;
    font-size: $todoFontSize;
    font-weight: $todoFontWeight;
    line-height: $todoFontHeight;
    text-align: left;
    margin: -2px;
  }

  .create-btn-item {
    background-color: var(--todo-blue);
    /* Green */
    border: none;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 400;
    line-height: 24px;
  }

  .expand-button-container{
    width: 235px;
    height: 0px;
    align-content: end;
    color: var(--todo-blue)
  }



  .expand-btn-item{
    color: var(--todo-blue);
    left: 280px;
    bottom: 25px;
  }

  .edit-btn-item {
    color: var(--todo-blue);
  }

  .update-btn-item {
    background-color: var(--todo-blue);
    border: none;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 400;
    line-height: 12px;
  }
  .second-level {
    padding-left: 20px;
    }
    
    .third-level {
    padding-left: 40px;
  }

}


  /*Checkbox styles*/
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    outline: 2px solid var(--todo-blue);
  }


  /* ------------------------------------------------------------------
    /* On mouse-over, add a grey background color */
  .todo-text {
    margin-left: 35px;
  }

  .todo-text-completed {
    color: $completedTodoText;
  }

  .container:hover input~.checkmark {
    background-color: transparent;
  }

  .container input:checked~.checkmark {
    content: "";
    background-color: transparent;
  }

  .checkmark:after {
    color: var(--todo-blue);
    top: 0px;
    right: 13px;
    content: "✔";
    position: absolute;
    display: none;
  }

  .container input:checked~.checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
  }