<div class="todo-item-container">
  <form [formGroup]="todoForm">
    <div class="check-container">
      <div>
        <label class="container">
          <input type="checkbox" [checked]="todoItem.completed"
            (change)="todoItem.completed = !todoItem.completed; isTodoEdited = !isTodoEdited"
            (click)="completeTodo(todoItem)" [value]="todoItem.completed">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div *ngIf="!isTodoEdited" (click)="enableModifyInput(todoItem.completed) " class="todo-text">
      <span [ngClass]="todoItem.completed ? 'todo-text-completed':''">
        {{todoItem.title}}
      </span>
    </div>

    <div *ngIf="isTodoEdited && !todoItem.completed" class="todo-text">
      <input [placeholder]="todoItem.title" formControlName="inputControl" class="input-item" />
      <div *ngIf="todoForm.controls['inputControl'].valid">
        <button mat-icon-button (click)="onSubmit(todoItem)" type="submit" class="update-btn-item">
          <mat-icon class="save-icon">save</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <button (click)="removeTodo(todoItem.id)" mat-icon-button type="submit" class="delete-btn-item">
    <mat-icon class="delete-icon">delete_forever</mat-icon>
  </button>

  <div class="add-todo-item">
    <app-check-input (addChildTodoItem)="todoItem"></app-check-input>
  </div>
</div>