<div [ngClass]="mainComplete ? 'todo-item-container-completed' : 'todo-item-container'">
  <div>
    <div class="expand-button-container">
      <button mat-icon-button (click)="collapseItems = !collapseItems" type="submit" class="expand-btn-item">
        <mat-icon *ngIf="!collapseItems">expand_less</mat-icon>
        <mat-icon *ngIf="collapseItems">expand_more</mat-icon>
      </button>
    </div>
    <div class="check-container">
      <div class="todo-info-group">
        <div (click)="showAddInput = !showAddInput; setFatherToComplete(todoItem)">
          <app-check [isMainTodo]="true" [title]="todoItem.title" [completed]="todoItem.completed"></app-check>
        </div>
        <button mat-icon-button (click)="onEditItem(todoItem, todoItem)" type="submit" class="edit-btn-item">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
      </div>
      <div *ngIf="showAddInput">
        <div class="todo-info-group">
          <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
            <input formControlName="inputControl" [placeholder]="todoItem.title" class="input-item" />
            <button mat-icon-button type="submit" class="edit-btn-item">
              <mat-icon class="update-icon">✔</mat-icon>
            </button>
            <button mat-icon-button (click)="showAddInput = false" style="color: red;">
              <mat-icon class="cancel-icon">cancel</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- Second level todo items -->
    <div *ngIf="todoItem.childTodo && todoItem.childTodo.length > 0 && !collapseItems">
      <div *ngFor="let child of todoItem.childTodo" class="todo">
        <div class="second-level">
          <div class="check-container">
            <div class="todo-info-group">
              <app-check [title]="child.title" [completed]="child.completed"></app-check>
              <button mat-icon-button (click)="onEditItem(child, todoItem)" type="submit" class="edit-btn-item">
                <mat-icon class="edit-icon">edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!-- third level todo items -->
        <div *ngIf="child.childTodo && child.childTodo.length > 0 && !collapseItems">
          <div *ngFor="let child3 of child.childTodo" class="todo">
            <div class="third-level">
              <div class="check-container">
                <div class="todo-info-group">
                  <app-check [title]="child3.title" [completed]="child3.completed"></app-check>
                  <button mat-icon-button (click)="onEditItem(child3, todoItem)" type="submit" class="edit-btn-item">
                    <mat-icon class="edit-icon">edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>