@import "../../../styles.scss";

@media only screen and (min-width: 600px) {
  .title-container {
    width: 640px;
    height: 27px;
    margin: 16px;
  }
  
  .title {
    width: 114px;
    height: 22px;
    padding: 4px 16px 0px 16px;
    border-radius: 16px;
    gap: 0px;
    opacity: 0px;
    color: $titleFontColor;
    background: var(--todo-blue);
    font-family: Figtree;
    font-size: $todoFontSize;
    font-weight: $todoFontWeight;
    line-height: $titleFontWeight;
    letter-spacing: $titleLetterSpacing;
    text-align: center;
    }
}
@media only screen and (max-width: 600px) {
  .title-container {
    width: 332px;
    height: 27px;
    margin: 16px;
  }
  
  .title {
    width: 114px;
    height: 22px;
    padding: 4px 16px 0px 16px;
    border-radius: 16px;

    color: $titleFontColor;
    background: var(--todo-blue);
    font-family: Figtree;
    font-size: $todoFontSize;
    font-weight: $todoFontWeight;
    line-height: $titleFontWeight;
    letter-spacing: $titleLetterSpacing;
    text-align: center;
    }
}