
@media only screen and (min-width: 600px) {
  .todo-scroll-container {
    width: 1118px;
    height: 706px;
    gap: 32px;
    border-radius: 12px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    overflow: auto;
  }
  
  .todo-wrapper {
    width: 1130px;
    height: 770px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    background: #ffffff99;
    margin: 32px;
    border: 1px solid #ffffff;
  }
  
  .todo-list {
    width: 640px;
    height: 100%;
    gap: 16px;
    opacity: 0px;
  } 
}

  
  @media only screen and (max-width: 600px) {
    .todo-scroll-container {
      width: 356px;
      height: 656px;
      gap: 32px;
      border-radius: 12px;
      opacity: 0px;
      display: flex;
      justify-content: center;
      overflow: auto;
    }
    
    .todo-wrapper {
      width: 368px;
      height: 688px;
      border-radius: 24px;
      opacity: 0px;
      background: #ffffff99;
      margin: 16px 0px 0px 8px;
      border: 1px solid #ffffff;
    }
    
    .todo-list {
      width: 332px;
      height: 100%;
      gap: 16px;
    } 
  }