@import "../../../styles.scss";

@media only screen and (min-width: 600px) {
  .input-container {
    width: 640px;
    height: 56px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #FFFFFF;
    opacity: 0px;
  }

  .input-item {
    width: 585px;
    height: 24px;
    text-align: left;
    border: none;
    font-size: $todoFontSize;
    background-color: transparent;
  }

  .input-item:focus {
    outline: 1px solid var(--todo-blue) !important;
  }

  .new-todo-item {
    display: flex;
    padding-left: 50px;
    padding-bottom: 10px;

  }

  .input-item ::placeholder {
    color: $completedTodoText;
    font-size: $todoFontSize;
  }

  .create-btn-item {
    background-color: var(--todo-blue);
    border: none;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 400;
    line-height: 24px;
  }

.checkmark {
  position: absolute;
  top: 3px;
  left: 16px;
  height: 18px;
  width: 18px;
  outline: 2px solid var(--todo-blue);
}

}

@media only screen and (max-width: 600px) {
  .input-container {
    width: 332px;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    border: 1px solid #FFFFFF;
  }

  .input-item {
    width: 185px;
    height: 24px;
    text-align: left;
    border: none;
    background-color: transparent;
  }

  .input-item:focus {
    outline: 1px solid var(--todo-blue) !important;
  }

  .new-todo-item {
    padding: 0px 0px 10px 35px;
  }

  .input-item ::placeholder {
    color: #32475580;
  }

  .todo-text {
    margin-left: 35px;
  }

  .todo-text-completed {
    color: $completedTodoText;
  }

  .create-btn-item {
    background-color: var(--todo-blue);
    border: none;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 400;
    line-height: 24px;
  }
  /* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  outline: 2px solid var(--todo-blue);
}

}

/*Checkbox styles*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



.container:hover input~.checkmark {
  background-color: transparent;
}

.container input:checked~.checkmark {
  content: "";
  background-color: transparent;
}

.checkmark:after {
  color: var(--todo-blue);
  top: 0px;
  right: 13px;
  content: "✔";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}