<div class="input-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
      <div class="check-container">
        <label class="container">
          <input 
          id="todo-check"
            type="checkbox"
            formControlName="checkControl"
          >
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="new-todo-item">
        <input
          formControlName="inputControl"
          placeholder="Review Figma Design"
          class="input-item"
        />
        <div *ngIf="todoForm.controls['inputControl'].valid">
          <div>
            <button type="submit" class="create-btn-item">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  